input[type=radio] {
  display: none;
}

label {
  cursor: pointer;
}

.radio-container {
  display: inline-block;
  padding: .75em 1.25em;
  margin: 0 .5em;
  border: 3px solid transparent;
  border-radius: 10px;
}

.radio-container div {
  text-align: center;
}

.radio-container.is-checked {
  border-color: #899cf0;
}